<br>
<mat-list>
    <mat-list-item> Supervisor <br> Costa Coffee London Jan 2018 Present <br> As a supervisor, I have many responsibilities such as open and close the store every day, place consumables orders, open and close the tills, manage the paperwork, train new colleagues, make
        sure the customers are always satisfied with our services and help them with the online platform.
    </mat-list-item>
    <br>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
</mat-list>