<mat-toolbar>
    <span class="style">Bianca Antoci</span>
    <span class="example-spacer"></span>
    <button [routerLink]="''" mat-button color="primary">Home</button>
    <span class="exampleone-spacer"></span>
    <button [routerLink]="'/experience'" mat-button color="primary">Experience</button>
    <span class="exampleone-spacer"></span>
    <button mat-button color="primary">Education</button>
    <span class="exampleone-spacer"></span>
    <button mat-button color="primary">Contact</button>

</mat-toolbar>
<router-outlet></router-outlet>