<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile class="gridone">I would consider myself to be a friendly, reliable individual who adapts well to new situations. I am a quick learner who can work on my own initiative as well as being a keen team player. Due to the variety of tasks I undergo at any one time I am
        able to organise my workload and prioritise work in order to meet important deadlines. Working in a demanding environment, I am able to multitask and see queries and tasks through until the end.

    </mat-grid-tile>
    <mat-grid-tile>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-grid-tile>
</mat-grid-list>